header {
  background-color: rgb(11, 112, 0, 0.6);
  background-blend-mode: lighten;
  margin-bottom: 20px;
  background-image: url('images/city_bg.png');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  display: inline;
}

li a {
  color: white;
  text-align: center;
  font-size: 25px;
  padding:20px;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-family: 'Courier New';
}

.selected {
  background-color: #111111;
}

.selected:hover {
  background-color: #111111;
}

li a:hover {
  background-color: #111111;
}

.title_img {
  opacity: 1;
  width: 300px;
  transition: width 0.3s;
  transition-timing-function: ease;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post_img {
  width: 30%;
  transition: width 0.3s;
  transition-timing-function: ease;
}

.post_img:hover {
  width: 50%;
  box-shadow: 0px 0px 5px #fff;
}

.page_title_img {
  opacity: 1;
  width: 200px;
  transition: opacity 0.3s;
  transition-timing-function: ease;
}

.title_img:hover {
  opacity: 0.9;
  width: 310px;
}

.page_title_img:hover {
  opacity: 0.4;
}

.social {
  width: 100px;
  padding: 50px;
  transition: opacity 0.3s;
  transition-timing-function: ease;
}

.social:hover {
  opacity: 0.4;
}






h1, h2 {
  color: white;
}

h3, h2, h1 {
  font-family: 'Trebuchet MS';
}

h3 {
  color: grey;
}

h2 {
  font-size: 35px;
}

p {
  color: white;
  text-align: left;
  font-size: 25px;

  padding: 5px;
  font-weight: normal;
  font-family: 'Tahoma';
}

body {
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.center {
  text-align: center;
}

.post {
  background-color: #1a1a1a;
  border: 3px solid #1a1a1a;
  margin:auto;
  text-align: center;
  width: 80%;
  
  transition: background-color 0.3s;
  transition-timing-function: ease;
}

.post:hover {
  background-color: #0d0d0d;
  border: 3px solid #0d0d0d;
}

.linkbrowser {
  margin:auto;
  text-align: center;
  background-color: #1a1a1a;
}

#more {
  display: none;
}