header {
  background-color: rgb(11, 112, 0, 0.6);
  background-blend-mode: lighten;
  margin-bottom: 20px;
  background-image: url('images/city_bg.png');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  display: inline;
}

li a {
  color: white;
  text-align: center;
  font-size: 25px;
  padding:20px;
  text-decoration: none;
  font-family: 'Courier New';
}

li a:hover {
  background-color: #111111;
}

img {
  opacity: 1;
}

img:hover {
  opacity: 0.9;
}

h1, h2 {
  color: white;
}

h3, h2, h1 {
  font-family: 'Trebuchet MS';
}

h3 {
  color: grey;
}

h2 {
  font-size: 35px;
}

p {
  color: white;
  text-align: left;
  font-size: 30px;
  margin-left: 50px;
  font-weight: normal;
  font-family: 'Tahoma';
}

body {
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.center {
  text-align: center;
}

.post {
  background-color: #1a1a1a;
  border: 3px solid #1a1a1a;
  margin:auto;
  text-align: center;
  width: 60%;
}

.linkbrowser {
  margin:auto;
  text-align: center;
  background-color: #1a1a1a;
}

#titleimg { 
  margin-top: 30px;
  margin-bottom: 10px;
}

#more {
  display: none;
}