/* Page Basics */

/*  @keyframes moving {
  from {
    transform: translateX(0)
  }
  to {
    transform: translateX(-300px)
  }
} */

header {
  /* background-color: rgb(11, 112, 0, 0.6); */
  background-color: darkgreen;
  /* background-blend-mode: lighten; */
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 2%;
  /* animation: moving 30s linear infinite; */
  background-position-x: center;
  background-image: url('images/city_bg.png');
}

.sticky_navbar {
  position: sticky;
  top: 0;
  margin-bottom: 25px;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  display: inline;
}

li a {
  color: white;
  text-align: center;
  font-size: 25px;
  padding:3px;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-family: 'Courier New';
  transition: background-color 0.25s;
  transition-timing-function: ease;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background-color: #111111;
}

.selected:hover {
  background-color: #111111;
}

li a:hover {
 
  background-color: #111111;
  transition: background-color 0.25s;
  transition-timing-function: ease;
}

h1, h2 {
  color: white;
}

h3, h2, h1 {
  font-family: 'Trebuchet MS';
}

h3 {
  color: grey;
}

h2 {
  font-size: 35px;
}

p {
  color: white;
  text-align: left;
  font-size: 25px;

  padding: 5px;
  font-weight: normal;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
}

h5 {
  color: lightgrey;
  font-weight: normal;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  align-items: flex-end;
}

.image_caption {
  text-align: center;
  font-family: 'Courier New', monospace;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: auto;
  margin-top: auto;
  font-size: 150%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
}

body {
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.linkbrowser {
  margin:auto;
  text-align: center;
  background-color: #1a1a1a;
}

#more {
  display: none;
}

/* Images */

.title_img {
  opacity: 1;
  width: 300px;
  transition: width 0.3s;
  transition-timing-function: ease;
  margin-top: 30px;
  margin-bottom: 10px;
}

.page_title_img {
  opacity: 1;
  width: 200px;
  transition: opacity 0.3s;
  transition-timing-function: ease;
}

.title_img:hover {
  opacity: 0.9;
  width: 310px;
}

.page_title_img:hover {
  opacity: 0.4;
}



/* Specifics */

.social {
  width: 100px;
  padding: 20px;
  transition: opacity 0.3s;
  transition-timing-function: ease;
}

.social:hover {
  opacity: 0.4;
}

.link {
  text-decoration: none;
  outline-color: transparent;
  color: lightblue;
}

.link:visited {
  color: lightblue;
}

.game_image {
  object-fit: cover;
  overflow: hidden;
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.game_title {
  object-fit: cover;
  overflow: hidden;
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post {
  background-color: #1a1a1a;
  border: 3px solid #1a1a1a;
  margin:auto;
  text-align: center;
  width: 80%;
  
  transition: background-color 0.3s;
  transition-timing-function: ease;
}

.game_post {
  border-radius: 25px;
  align-self: stretch;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50vh;
  margin-bottom: 20px;
  margin-left:10px;
  margin-right:10px;
  top: 0px;
  border: none;
}

.game_post:hover {
  position: relative;
  top: -5px;
  border: 1px solid white;
  transition: border 0.2s;
  transition: top 0.2s;
  transition-timing-function: ease;
}

.post:hover {
  background-color: #0d0d0d;
  border: 3px solid #0d0d0d;
}


.center {
  text-align: center;
}

/* Terminal */

.terminalCont {
  background: black;
  width: 100%;
  border-radius: 90px;
  padding: 12px 0 0 0;
  font-family: 'Courier New', monospace;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.terminalCont p {
  font-family: 'Courier New', monospace;
  padding: 5px 0 0 0;
  margin-top: -10px;
}

.userEnteredText{
  color: rgb(255, 255, 255, 0.5);
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
}

#terminalResultsCont {
  width: 100%;
  height: 400px;
  padding: 12px;
  padding-top: 50px;
  overflow-y: auto;
  resize: none;
  border: none;
  line-height: 18px;
  font-size: 25px;
  display: block;
  color: rgb(255, 255, 255, 0.9);
}

#terminalResultsCont a{
  color: rgb(255, 255, 255, 0.9);
  text-decoration: underline;
}

#terminalTextInput {
  background: black;
  display: block;
  border: none;
  border-radius: 0 0 4px 4px;
  width: 100%;
  color: white;
  padding: 18px;
  font-size: 25px;
  outline: none;
  font-family: 'Courier New', monospace;
}

@media screen and (max-width: 1000px) {
  #terminalResultCont {
    height: 100px;
  }
}