@font-face { font-family: DOS; src: url('fonts/DOS.ttf'); } 

/* header, navbar, and li elements */

#header {
  background-color: darkgreen;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 2%;
  background-position-x: center;
}

.title_img {
  opacity: 1;
  width: 250px;
  /*transition: width 0.3s;
  transition-timing-function: ease;*/
}

.title_img:hover {
  opacity: 0.9;
  /*width: 275px;*/
}

.sticky_navbar {
  position: sticky;
  overflow: hidden;
  top: 0;
  margin-bottom: 25px;
  margin-left: 2%;
  margin-right: 2%;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  display: inline;
}

li a {
  color: white;
  text-align: center;
  font-size: 15px;
  padding:3px;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-family: 'DOS';
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background-color: black;
}

li a:hover {
  background-color: black;
}

.linkbrowser {
  text-align: center;
  background-color: #1a1a1a;
}


/* headers */

h1, h2, h3, strong {
  color: white;
}

h3, h2, h1, h5 {
  font-family: 'DOS';
}

h1 {
	font-size: 25px;
}
h3 {
	font-size: 15px;
}
h2 {
  font-size: 25px;
}

h5 {
  color: lightgrey;
  font-weight: normal;
  align-items: flex-end;
}

/* paragraphs */

p {
  color: grey;
  text-align: left;
  font-size: 15px;
  padding: 5px;
  font-weight: normal;
  font-family: 'DOS', Verdana, sans-serif;
}

/* project container */

figcaption {
	font-family: 'DOS', monospace;
}

.image_caption { /* desc of games */
  text-align: center;
  font-family: 'DOS', monospace;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: auto;
  margin-top: auto;
  font-size: 130%;
}

.flex { /* flex container for projs */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
}

.game_image {
  object-fit: cover;
  overflow: hidden;
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.game_title {
  object-fit: cover;
  overflow: hidden;
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.game_post {
  animation: 0.5s initialize;
  
  text-align: center;
  
  flex-direction: column;
  width: 30vh;
  margin: 10px;
  border: 1px solid transparent;
}

.game_post:hover {
  border: 1px solid white;
}

/* body and scanlines */

body {
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
}

body:before {
	content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 80%,
        rgba(0, 0, 0, 0.15) 80%
    );
    background-size: 100% 8px;
    z-index: 9999;
    pointer-events: none;
	animation: scanlines infinite 5s linear;
	
}

@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10px;
  }
}


/* posts */

.link {
  text-decoration: none;
  outline-color: transparent;
  color: lightblue;
}

.link:visited {
  color: lightblue;
}

.post {
  animation: 0.5s initialize;
  background-color: black;
  border: 1px solid #1a1a1a;
  margin:auto;
  text-align: center;
  width: 80%;
}

.post:hover {
  background-color: black;
  border: 1px solid white;
}

.center {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

hr {
	width: 50%;
}