/* Page Basics */

header {
  background-color: darkgreen;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 2%;
  background-position-x: center;
  background-image: url('images/city_bg.png');
}

.sticky_navbar {
  position: sticky;
  top: 0;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  display: inline;
}

li a {
  color: white;
  text-align: center;
  font-size: 25px;
  padding:3px;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-family: 'Courier New';
  transition: background-color 0.25s;
  transition-timing-function: ease;
}

.selected {
  background-color: #111111;
}

.selected:hover {
  background-color: #111111;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

li a:hover {
 
  background-color: #111111;
  transition: background-color 0.25s;
  transition-timing-function: ease;
}

body {
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.linkbrowser {
  margin:auto;
  text-align: center;
  background-color: #1a1a1a;
}